/* INBOX */

.message-list .read-state.read:before {
  box-shadow: 0 0 0 1px var(--darkmode-secondary-link-color);
  background-color: transparent !important;
}

.message-list .read-state:before {
  box-shadow: 0 0 0 1px var(--darkmode-secondary-link-color);
  background-color: var(--darkmode-secondary-link-color) !important;
}

.conversations,
.conversations > header,
.messages li {
  background-color: var(--darkmode-primary-background-color) !important;
  color: var(--darkmode-primary-text-color) !important;
}

.conversations .date {
  color: var(--darkmode-datetime-color) !important;
}

.conversations .subject {
  color: var(--darkmode-primary-text-color) !important;
}

.conversations .summary {
  color: var(--darkmode-primary-text-color) !important;
}

.conversations .message-participants {
  color: var(--darkmode-secondary-text-color) !important;
}

.conversations span.context {
  color: var(--darkmode-subtext-color) !important;
}

.conversations .author,
.conversations .username {
  color: var(--darkmode-secondary-link-color) !important;
  /* KEEP THIS FOR EFFECT */
}

.message-header-row .ac-input-box {
  background-color: var(--darkmode-secondary-background-color) !important;
}

#content .message-list-scroller::-webkit-scrollbar
/* Chrome */ {
  display: none !important;
}

#content .message-list-scroller {
  -ms-overflow-style: none !important;
  /* IE and Edge */
  scrollbar-width: none !important;
  /* Firefox */
}

#compose-message-course-bs,
#compose-message-course-bs * {
  border-color: var(--darkmode-primary-outline-color);
  background-color: var(--darkmode-secondary-background-color);
}

#search-autocomplete,
#search-autocomplete * {
  color: var(--darkmode-primary-link-color);
  border-color: var(--darkmode-primary-outline-color);
  background-color: var(--darkmode-secondary-background-color);
}

#search-autocomplete *:hover {
  color: var(--darkmode-secondary-link-color) !important;
}

#compose-new-message textarea,
#compose-message-subject {
  font-family: var(--darkmode-font-family) !important;
  color: var(--darkmode-primary-text-color);
  background-color: var(--darkmode-secondary-background-color);
}

#content .course-filter > button.dropdown-toggle,
#content #conversation_filter_select,
#content #conversation_filter_select *,
#content #course-filter-bs,
#content #course-filter-bs * {
  border-color: var(--darkmode-primary-outline-color) !important;
  color: var(--darkmode-primary-link-color) !important;
  background-color: var(--darkmode-primary-background-color) !important;
  text-decoration: var(--darkmode-primary-text-decoration) !important;
  text-decoration-color: var(--darkmode-primary-text-color) !important;
  text-decoration-style: var(
    --darkmode-primary-text-decoration-style
  ) !important;
  margin-top: unset;
}

#content #course-filter-bs li:hover > a > span,
#content #course-filter-bs li:hover > a > abbr {
  color: var(--darkmode-secondary-link-color) !important;
}

#course-filter-bs .dropdown-menu .divider {
  padding-top: 1px !important;
  border: none !important;
}

#content #course-filter-bs .dropdown-menu.ColorPicker__Container {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

#content #admin-btn:active,
#content .conversations .panel .btn.ui-state-active {
  background-color: var(--darkmode-primary-background-color) !important;
}

#content #admin-menu {
  background-color: var(--darkmode-primary-background-color) !important;
}

#content #admin-menu > li > a.ui-corner-all {
  color: var(--darkmode-primary-link-color) !important;
  text-decoration: none !important;
}

#content #admin-menu a:hover {
  background-color: var(--darkmode-secondary-background-color) !important;
}

.message-count.label {
  background-color: var(--darkmode-secondary-background-color) !important;
}

.caret {
  border-top: 4px solid var(--darkmode-primary-text-color) !important;
}

.star-btn {
  color: var(--darkmode-secondary-link-color) !important;
}
