/* DASHBOARD */

#dashboard [class*="header"],
#dashboard [class*="Header"],
#dashboard .Day-styles__root.planner-day {
  background-color: var(--darkmode-primary-background-color);
  border-color: var(--darkmode-primary-outline-color);
  color: var(--darkmode-primary-text-color);
}

#dashboard .PlannerItem-styles__root.planner-item {
  background-color: var(--darkmode-secondary-background-color) !important;
}

#dashboard .PlannerItem-styles__title button:hover {
  background-color: transparent !important;
}

#dashboard .PlannerItem-styles__due span {
  color: var(--darkmode-datetime-color) !important;
}

#dashboard .ic-DashboardCard__header_hero {
  border: none !important;
}

#dashboard .ic-DashboardCard,
#dashboard .ic-DashboardCard *:not(.ic-DashboardCard__header_hero) {
  background-color: var(--darkmode-secondary-background-color);
}

#dashboard .ic-DashboardCard__action-badge {
  background-color: var(--darkmode-primary-badge-color) !important;
  border: 1px solid var(--darkmode-badge-outline-color) !important;
  color: var(--darkmode-primary-badge-text-color) !important;
}

#dashboard .ic-DashboardCard__action-badge .unread_count {
  background-color: var(--darkmode-primary-badge-color) !important;
  color: var(--darkmode-primary-badge-text-color);
}

#DashboardCard_Container * > a {
  text-decoration: none !important;
}

#dashboard .ic-DashboardCard__header-button,
#dashboard .ic-DashboardCard__header-button i {
  background: none !important;
}

#dashboard .ic-DashboardCard__header-button:focus {
  box-shadow: var(--darkmode-focus-button-color);
}

/* DASHBOARD HEADER ... BUTTON */

[dir="ltr"] .eHiXd_bPzo {
  background-color: transparent !important;
}

/* DASHBOARD ... MENU ITEMS */

[dir="ltr"] .sJGfW_bGBk * {
  background-color: transparent !important;
}

[dir="ltr"] .sJGfW_bGBk,
[dir="ltr"] .sJGfW_bGBk *,
[dir="ltr"] .sJGfW_bGBk:focus {
  color: var(--darkmode-primary-text-color) !important;
  background-color: var(--darkmode-secondary-button-color);
}

[dir="ltr"] .sJGfW_bGBk:hover {
  background-color: var(--darkmode-primary-button-color) !important;
}

[dir="ltr"] .sJGfW_bGBk:hover * {
  color: var(--darkmode-secondary-text-color) !important;
}

/* DASHBOARD COLOR PICKER */

[dir="ltr"] .bdYPe_eLeB,
[dir="ltr"] .fCrpb_egrg,
[dir="ltr"] .bgKsu_blJt,
.DashboardCardMenu__ColorPicker,
.ColorPicker__Container {
  color: var(--darkmode-primary-text-color) !important;
  background-color: var(--darkmode-primary-background-color) !important;
}

[dir="ltr"] .ejhDx_bQpq button:hover {
  background-color: var(--darkmode-primary-background-color) !important;
}
