/* CALENDAR */

#calendar-app {
  background-color: var(--darkmode-primary-background-color);
  color: var(--darkmode-primary-text-color);
}

#calendar_header .navigation_title_text {
  color: var(--darkmode-datetime-color) !important;
}

#calendar-app .fc th,
#calendar-app .fc td,
.fc-unthemed th,
.fc-unthemed td,
.fc-unthemed thead,
.fc-unthemed tbody,
.fc-unthemed .fc-divider,
.fc-unthemed .fc-row,
.fc-unthemed .fc-popover {
  border-color: var(--darkmode-primary-outline-color) !important;
}

#calendar-app .fc-bg,
#event-details-trap-focus {
  background-color: var(--darkmode-secondary-background-color);
}

#calendar-app .agenda-container .agenda-day.agenda-today {
  background-color: var(--darkmode-primary-background-color);
}

#calendar-app .fc-agendaWeek-view .fc-time-grid-event .fc-bg {
  background-color: transparent !important;
}

#calendar-app .fc-scroller::-webkit-scrollbar
/* Chrome */ {
  display: none !important;
}

#calendar-app .fc-scroller {
  -ms-overflow-style: none !important;
  /* IE and Edge */
  scrollbar-width: none !important;
  /* Firefox */
}

#calendar-app .calendar-nowline {
  background-color: var(--darkmode-datetime-color) !important;
}

#calendar-app .fc-month-view .fc-today {
  box-shadow: none !important;
  background-color: var(--darkmode-primary-background-color) !important;
}

#calendar-app .fc-agendaWeek-view .fc-time-grid .fc-today,
#calendar-app .fc-agendaWeek-view .fc-day-grid .fc-today {
  border-color: var(--darkmode-datetime-color) !important;
  box-shadow: none !important;
  background-color: var(--darkmode-secondary-background-color) !important;
}

#calendar-app .fc-title {
  color: var(--darkmode-primary-text-color) !important;
}

#calendar-app .fc-event {
  background-color: var(--darkmode-primary-background-color) !important;
}

#calendar-app .fc-widget-header,
#calendar-app .fc-axis {
  color: var(--darkmode-primary-text-color) !important;
}

#calendar-app .agenda-wrapper .agenda-container {
  background-color: var(--darkmode-primary-background-color) !important;
}

#context-list {
  background-color: var(--darkmode-primary-background-color);
}

#context-list .context_list_context:hover {
  background-color: var(--darkmode-secondary-background-color) !important;
}

#context-list-holder::-webkit-scrollbar
/* Chrome */ {
  display: none !important;
}

#context-list-holder {
  -ms-overflow-style: none !important;
  /* IE and Edge */
  scrollbar-width: none !important;
  /* Firefox */
}

#event-details-trap-focus .event-details-timestring {
  color: var(--darkmode-datetime-color) !important;
}

.ui-widget-overlay {
  background-color: var(--darkmode-overlay) !important;
}

/* MINI CALENDAR */

#minical,
#minical h2 {
  background-color: var(--darkmode-secondary-background-color) !important;
  color: var(--darkmode-primary-text-color) !important;
}

#minical .fc-widget-content {
  border: none !important;
}

#minical .fc-past,
#minical .fc-future,
.mini-cal-month-and-year {
  color: var(--darkmode-primary-text-color);
}

#minical .fc-today,
#minical .fc-bg.fc-state-highlight {
  color: var(--darkmode-secondary-link-color) !important;
  background-color: transparent !important;
}

#minical .fc-other-month {
  color: gray !important;
}

#minical .event {
  background-color: var(--darkmode-minical-event) !important;
}

#minical .event:after {
  border: none !important;
}
