/* CONFERENCE */

#content > .item-group-container.item-box {
  background-color: var(--darkmode-primary-background-color);
}

#content .item-group-condensed .ig-header {
  background-color: var(--darkmode-primary-background-color);
}

#content .item-group-container.item-box .element_toggler.accessible-toggler {
  color: var(--darkmode-primary-link-color) !important;
  text-decoration: var(--darkmode-primary-text-decoration) !important;
  text-decoration-color: var(--darkmode-primary-link-color) !important;
}

#content
  .item-group-container.item-box
  .element_toggler.accessible-toggler:hover {
  color: var(--darkmode-secondary-link-color) !important;
  text-decoration: var(--darkmode-primary-text-decoration) !important;
  text-decoration-color: var(--darkmode-secondary-link-color) !important;
}

#content
  .item-group-container.item-box
  .element_toggler.accessible-toggler:focus {
  box-shadow: none !important;
  outline: none !important;
}

#web_conference_title,
#web_conference_description {
  border-color: var(--darkmode-primary-outline-color) !important;
  color: var(--darkmode-primary-text-color) !important;
  background-color: var(--darkmode-secondary-background-color) !important;
}

#new-conference-list *,
#concluded-conference-list * {
  background-color: var(--darkmode-secondary-background-color) !important;
}
