@import url("css/font.css");
@import url("css/root.css");
@import url("css/colors.css");
@import url("css/cat_zoom.css");
@import url("css/cat_head_menu.css");
@import url("css/cat_sidebar.css");
@import url("css/cat_account.css");
@import url("css/cat_announcement.css");
@import url("css/cat_calendar.css");
@import url("css/cat_conference.css");
@import url("css/cat_course.css");
@import url("css/cat_dashboard.css");
@import url("css/cat_discussions.css");
@import url("css/cat_editor.css");
@import url("css/cat_files.css");
@import url("css/cat_gradebook.css");
@import url("css/cat_inbox.css");
@import url("css/cat_modules.css");
@import url("css/cat_myCourses.css");
@import url("css/cat_pages.css");
@import url("css/cat_people.css");
@import url("css/cat_tasks.css");

html,
body {
  font-family: var(--darkmode-font-family);
  font-size: var(--darkmode-font-size);
  background-color: var(--darkmode-primary-background-color) !important;
  color: var(--darkmode-primary-text-color) !important;
}

legend {
  color: var(--darkmode-primary-text-color) !important;
}

p {
  color: var(--darkmode-primary-text-color) !important;
}

a {
  color: var(--darkmode-primary-link-color) !important;
  text-decoration: var(--darkmode-primary-text-decoration);
  text-decoration-color: var(--darkmode-primary-link-color);
  text-decoration-style: var(
    --darkmode-primary-text-decoration-style
  ) !important;
}

a:hover {
  color: var(--darkmode-secondary-link-color) !important;
  text-decoration: var(--darkmode-secondary-text-decoration);
  text-decoration-color: var(--darkmode-secondary-link-color) !important;
  text-decoration-style: var(
    --darkmode-secondary-text-decoration-style
  ) !important;
}

#content
  a:not(.al-trigger):not(.star-btn):not(.fc-title):not(.Button):not(.btn):not([id^="add_"]):not(.element_toggler.accessible-toggler) {
  color: var(--darkmode-secondary-link-color) !important;
  text-decoration: var(--darkmode-secondary-text-decoration);
  text-decoration-color: var(--darkmode-secondary-link-color);
  text-decoration-style: var(
    --darkmode-secondary-text-decoration-style
  ) !important;
}

#content
  a:hover:not(.al-trigger):hover:not(.star-btn):hover:not(.fc-title):hover:not(.Button):hover:not(.btn):hover:not([id^="add_"]):hover:not(.element_toggler.accessible-toggler):hover {
  color: var(--darkmode-primary-link-color) !important;
  text-decoration: var(--darkmode-primary-text-decoration);
  text-decoration-color: var(--darkmode-primary-link-color) !important;
  text-decoration-style: var(
    --darkmode-primary-text-decoration-style
  ) !important;
}

a:focus {
  outline-color: transparent !important;
  /* outline-color: var(--darkmode-secondary-outline-color) !important; */
}

svg {
  color: var(--darkmode-primary-text-color) !important;
}

.ic-icon-svg {
  fill: var(--darkmode-secondary-text-color) !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--darkmode-font-family) !important;
}

ul.al-options {
  background-color: var(--darkmode-primary-background-color);
}

#register_sms_number,
#register_email_address {
  border-color: var(--darkmode-primary-outline-color) !important;
  background-color: var(--darkmode-primary-background-color) !important;
  color: var(--darkmode-primary-text-color) !important;
}

select,
select[id*="-filter"] {
  font-family: var(--darkmode-font-family) !important;
  color: var(--darkmode-primary-text-color) !important;
  border: 1px solid var(--darkmode-primary-outline-color) !important;
  background-color: var(--darkmode-secondary-background-color) !important;
}

input {
  font-family: var(--darkmode-font-family) !important;
  color: var(--darkmode-primary-text-color);
  border: 1px solid var(--darkmode-primary-outline-color);
  background-color: var(--darkmode-primary-background-color);
}

input:focus {
  border-color: var(--darkmode-primary-outline-color) !important;
}

#group_categories_tabs input[type=text],
/* forced */

[id^="search_"] {
  color: var(--darkmode-primary-text-color) !important;
  border: 1px solid var(--darkmode-primary-outline-color) !important;
  background-color: var(--darkmode-primary-background-color) !important;
}

[id^="communication_"] {
  color: var(--darkmode-primary-text-color) !important;
  border: 1px solid var(--darkmode-primary-outline-color) !important;
  background-color: var(--darkmode-secondary-background-color) !important;
}

time,
.date,
[class^="datetime_"],
[class*="-date"] {
  color: var(--darkmode-datetime-color) !important;
}

span:focus {
  outline: transparent 1px !important;
}

button:focus,
button.Button--icon-action:focus {
  box-shadow: inset 0 0 0 0px var(--ic-link-color) !important;
}

.btn:active,
.btn.active {
  background-color: var(--darkmode-primary-button-color) !important;
}

button span {
  color: inherit !important;
}

button:not(.fOyUs_fKyb),
button#external_feed,
button.Button,
button.btn,
a#print-grades-button,
a[id^="add_"],
a[id^="new_"],
a.btn,
div.btn.ac-search-btn,
a.Button {
  font-family: var(--darkmode-font-family) !important;
  background-color: var(--darkmode-primary-button-color) !important;
  color: var(--darkmode-primary-button-text-color) !important;
  border-color: var(--darkmode-primary-outline-color);
}

.prev_month_link.Button.Button--icon-action,
/* Reversed background buttons */

.next_month_link.Button.Button--icon-action {
  background-color: var(--darkmode-secondary-button-color) !important;
}

.ui-button,
/* Buttons that need to be forced */

a.btn.module_progressions_link, .gradebook-menus button {
  font-family: var(--darkmode-font-family) !important;
  background-color: var(--darkmode-primary-button-color) !important;
  color: var(--darkmode-primary-button-text-color) !important;
  border-color: var(--darkmode-primary-outline-color) !important;
}

button:hover,
/* ACTIVE buttons WITH border */

button#external_feed:hover, .Button:hover, .btn:hover, .btn.active, .btn.Button--active, .btn.ui-button.ui-state-active, .ui-progressbar .btn.ui-button.ui-widget-header, .Button.active, .ui-button:hover, .active.ui-button, .Button.Button--active, .Button--active.ui-button, .ui-button.ui-state-active, .ui-progressbar .ui-button.ui-widget-header, .ui-button.ui-state-active:hover, .ui-button.ui-state-active.ui-state-hover, .ui-state-highlight, .ui-widget-content .ui-state-highlight, a.btn.module_progressions_link:hover, a[id^="add_"]:hover, a[id^="new_"]:hover, a#print-grades-button:hover, div.btn.ac-search-btn:hover {
  color: var(--darkmode-secondary-button-text-color) !important;
  background: var(--darkmode-secondary-button-color) !important;
  /* border-color: var(--darkmode-secondary-outline-color) !important; */
}

.Button--icon-action:hover,
/* ACTIVE buttons NO border */

.Button--icon-action, .ig-header-admin button, #context-list .ContextList__MoreBtn {
  color: var(--darkmode-secondary-text-color) !important;
  background: transparent !important;
  border-color: transparent !important;
}

#external-rss-feed__toggle {
  background-color: inherit !important;
}

.btn-link,
/* Buttons that shouldn't have text decoration */

.Button--link {
  text-decoration: none !important;
}

#group_categories_tabs > ul {
  border-color: var(--darkmode-primary-outline-color) !important;
}

li.ui-state-default {
  background-color: var(--darkmode-primary-background-color) !important;
}

li.ui-state-active {
  /* border-color: var(--darkmode-primary-outline-color) !important; */
  border-bottom: transparent !important;
}

[id^="toolbar-"],
span.ui-menu-carat {
  border-color: var(--darkmode-primary-outline-color) transparent !important;
}

span.ui-menu-carat span {
  background-color: inherit !important;
}

/* NAVBAR BORDERS */

/* 
#wrapper .ic-app-nav-toggle-and-crumbs.no-print
#right-side-wrapper *
{
  border-color: var(--darkmode-primary-outline-color) !important;
} */

/* MISC */

i[class*="icon-"]::before,
i[class^="icon-"]::before,
a[class*="icon-"]::before,
a[class^="icon-"]::before,
i[class*="icon-ok"]::before,
i[class^="icon-ok"]::before,
a[class*="icon-ok"]::before,
a[class^="icon-ok"]::before,
i[class*="icon-plus"]::before,
i[class^="icon-plus"]::before,
a[class*="icon-plus"]::before,
a[class^="icon-plus"]::before,
i[class*="icon-more"]::before,
i[class^="icon-more"]::before,
a[class*="icon-more"]::before,
a[class^="icon-more"]::before,
i[class*="icon-unpublish"]::before,
i[class^="icon-unpublish"]::before,
a[class*="icon-unpublish"]::before,
a[class^="icon-unpublish"]::before,
i[class*="icon-arrow-right"]::before,
i[class^="icon-arrow-right"]::before,
a[class*="icon-arrow-right"]::before,
a[class^="icon-arrow-right"]::before,
i[class*="icon-arrow-down"]::before,
i[class^="icon-arrow-down"]::before,
a[class*="icon-arrow-down"]::before,
a[class^="icon-arrow-down"]::before,
i[class*="icon-paperclip"]::before,
i[class^="icon-paperclip"]::before,
a[class*="icon-paperclip"]::before,
a[class^="icon-paperclip"]::before,
i[class*="icon-calendar-day"]::before,
i[class^="icon-calendar-day"]::before,
a[class*="icon-calendar-day"]::before,
a[class^="icon-calendar-day"]::before,
i[class*="icon-discussion"]::before,
i[class^="icon-discussion"]::before,
a[class*="icon-discussion"]::before,
a[class^="icon-discussion"]::before,
i[class*="icon-announcement"]::before,
i[class^="icon-announcement"]::before,
a[class*="icon-announcement"]::before,
a[class^="icon-announcement"]::before {
  color: var(--darkmode-primary-text-color) !important;
}

[class^="undated_"] {
  background-color: var(--darkmode-primary-background-color) !important;
  color: var(--darkmode-primary-text-color);
}

[class^="undated_"]:hover {
  background-color: var(--darkmode-secondary-background-color) !important;
}

div[class^="ui-"]:not(.ui-widget-overlay) {
  background-color: var(--darkmode-primary-background-color) !important;
  color: var(--darkmode-primary-text-color);
}

ul[id^="ui-id-"]:not(.message-header-neby) {
  background-color: var(--darkmode-primary-background-color) !important;
  color: var(--darkmode-primary-text-color) !important;
  border: 1px solid var(--darkmode-primary-outline-color) !important;
}

[id^="ui-id-"] > li > a:hover {
  background-color: var(--darkmode-secondary-background-color) !important;
}

[class^="ui-menu"] span {
  border-color: var(--darkmode-secondary-background-color) transparent !important;
}

[class^="ui-icon"]
/* JQuery icon set */ {
  background-image: var(--darkmode-jquery-icon-color) !important;
}

[id^="ui-icon"] {
  color: var(--darkmode-primary-text-color) !important;
  background-color: var(--darkmode-primary-link-color) !important;
}

[id^="mceu_"] * {
  color: var(--darkmode-primary-text-color) !important;
}

[id^="result-"] * {
  color: var(--darkmode-primary-link-color) !important;
}

[class^="fc-time"] {
  color: var(--darkmode-datetime-color) !important;
}

[class^="fc-icon"] {
  color: var(--darkmode-primary-text-color) !important;
}

[id^="edit_"],
[id^="edit_"] .ui-state-default {
  background-color: var(--darkmode-primary-background-color) !important;
  color: var(--darkmode-primary-text-color) !important;
}

[id^="tab-"] {
  background-color: var(--darkmode-primary-background-color) !important;
  color: var(--darkmode-primary-text-color) !important;
}

[id^="tab-"] {
  background-color: var(--darkmode-primary-background-color) !important;
  color: var(--darkmode-primary-text-color) !important;
}

[id^="entry-"] .discussion-pubdate {
  color: var(--darkmode-datetime-color) !important;
}

[id^="entry-"] article.read > a > div {
  color: var(--darkmode-primary-text-color) !important;
  background-color: var(--darkmode-primary-background-color) !important;
  border: 1px solid var(--darkmode-primary-outline-color) !important;
}

[id^="entry-"] article.unread > a > div {
  color: var(--darkmode-primary-text-color) !important;
  background-color: var(--darkmode-avatar-color) !important;
  border: 1px solid var(--darkmode-primary-outline-color) !important;
}

[dir="ltr"] *:not(.course-color-block),
[dir="ltr"] *:not(.span.ic-unread-badge__count.ic-unread-badge__total-count) {
  color: var(--darkmode-primary-text-color) !important;
}

[dir="ltr"] .cnWSA_bcSS {
  background-color: var(--darkmode-primary-text-color) !important;
}

[dir="ltr"] .eoNrR_blJt {
  background-color: var(--darkmode-secondary-background-color) !important;
  color: var(--darkmode-primary-text-color) !important;
}

.popover-title {
  background-color: var(--darkmode-primary-background-color) !important;
  border-color: var(--darkmode-primary-outline-color) !important;
}

pre,
code,
[dir="ltr"] pre,
[dir="ltr"] * pre {
  font-family: var(--darkmode-font-family) !important;
  background-color: var(--darkmode-primary-pre-color) !important;
  color: var(--darkmode-primary-pre-text-color) !important;
}

.avatar,
.ic-avatar,
[id^="user-avatar-"] a span,
.ic-item-row__author-col span {
  border: 2px solid var(--darkmode-avatar-color) !important;
  color: var(--darkmode-avatar-color) !important;
}

h2.course-title {
  color: var(--darkmode-primary-text-color) !important;
}
