/* 
 HTB green #9fef00
 Hacker grey #a4b1cd
 Node black #141d2b

 Malware red #ff3e3e
 Azure #0086ff
 Vivid purple #9f00ff
 Nugget yellow #ffaf00
 Aquamarine #2ee7b6
*/

/* HTB 1 */
/* :root
{
  --canvas-primary-background-color: #141d2b;
  --canvas-secondary-background-color: #0c111a;
  --canvas-primary-text-color: white;
  --canvas-primary-button-color: #0c111a;
  --canvas-secondary-button-color: #141d2b;
  --canvas-primary-outline-color: #a4b1cd;
  --canvas-primary-pre-color: #141d2b;
  --canvas-primary-pre-text-color: #66D9EF;
} */

/* HTB 2 */
/* :root
{
  --canvas-primary-background-color: #0c111a;
  --canvas-secondary-background-color: #141d2b;
  --canvas-primary-text-color: white;
  --canvas-primary-button-color: #141d2b;
  --canvas-secondary-button-color: #0c111a;
  --canvas-primary-outline-color: #9fef00;
  --canvas-primary-pre-color: #0c111a;
  --canvas-primary-pre-text-color: #9fef00;
} */

/* ORIGINAL */
/* :root
{
  --canvas-primary-background-color: #404040;
  --canvas-secondary-background-color: #505050;
  --canvas-primary-text-color: white;
  --canvas-primary-button-color: #303030;
  --canvas-secondary-button-color: #606060;
  --canvas-primary-outline-color: #C7CDD1;
  --canvas-primary-pre-color: #303030;
  --canvas-primary-pre-text-color: #9fef00;
} */

/* MONOKAI */
:root
{
  --canvas-primary-background-color: #272822;
  --canvas-secondary-background-color: #1f201b;
  --canvas-primary-text-color: #75715E;
  --canvas-primary-button-color: #F8F8F2;
  --canvas-secondary-button-color: #F8F8F2;
  --canvas-primary-outline-color: #75715E;
  --canvas-primary-pre-color: #272822;
  --canvas-primary-pre-text-color: #66D9EF;
}

/* Background	#272822 
Foreground	#F8F8F2 
Comment	#75715E 
Red	#F92672 
Orange	#FD971F 
Light Orange	#E69F66
Yellow	#E6DB74 
Green	#A6E22E 
Blue	#66D9EF 
Purple #AE81FF
*/

html,
body,
header,
.ic-Dashboard-header__layout,
div.event-details::after,
thead th
{
  background: var(--canvas-primary-background-color) !important;
  background-color: var(--canvas-primary-background-color) !important;
  color: var(--canvas-primary-text-color) !important;
}

a.ic-app-header__logomark
{
  background-color: var(--canvas-primary-background-color) !important;
}

.pages.show .page-title,
.ig-header .ig-header-title
{
  color: var(--canvas-primary-text-color) !important;
}

.btn, 
.Button, 
.ui-button
.btn-primary,
.Button--primary,
button.element_toggler,
#topic_publish_button,
#discussion-managebar > div > div > div.pull-right > a,
#discussion-managebar > div > div > div.pull-right > div > a,
#collapseAll,
.reply-btn,
#reply-btn,
.reply-all-btn,
#reply-all-btn,
.admin-btn,
#admin-btn,
#admin-btn .ui-corner-all,
.forward-btn,
#forward-btn,
#forward-btn .ui-corner-all,
.archive-btn,
#archive-btn,
#archive-btn .ui-corner-all,
.star-toggle-btn,
#star-toggle-btn,
#star-toggle-btn .ui-corner-all,
.delete-btn,
#delete-btn,
#delete-btn .ui-corner-all,
#expandAll,
#lock_announcements > span,
#delete_announcements > span,
#add_announcement,
#external_tools > div > div > div.AppFilters > div > div > div.col-xs-7 > ul > li.active > a,
#content > div.ic-Action-header.ic-Action-header--before-item-groups > div > button,
#content > div.header-bar > div.header-bar-right > form > button,
#content > div > div.ic-Profile-layout__Secondary > button.hide-if-editing.Button,
#content > div > header.ef-header > form > button,
#content > div > header.ef-header > div > div.ef-actions > button.btn.btn-add-folder,
#calendar_header > div > div.header-table-row > div.header-table-cell.header-table-left > div > button,
#calendar_header > div > div.header-table-row > div.header-table-cell.header-table-left > div > span.navigation_buttons.ui-buttonset > button.navigate_prev.btn.ui-button.ui-widget.ui-state-default.ui-button-text-only.ui-corner-left,
#calendar_header > div > div.header-table-row > div.header-table-cell.header-table-left > div > span.navigation_buttons.ui-buttonset > button.navigate_next.btn.ui-button.ui-widget.ui-state-default.ui-button-text-only.ui-corner-right,
#content > div.header-bar > div > div > a,
#content > div.header-bar > div > div > button,
#content > div.header-bar > div > div > div > a,
#nav-tray-portal > span > span > div > div > div > div > div > span > form > button,
#nav-tray-portal > span > span > div > div > div > div > div > span > form > button::before,
#month,
#agenda,
#course_show_secondary > a,
#course_show_secondary > div > a,
#create_new_event_link,
#edit_calendar_event_form > div.popover-links-holder.event-details-footer.pull-right > a,
#edit_calendar_event_form > div.popover-links-holder.event-details-footer.pull-right > button,
#compose-btn,
#add-message-attachment-button,
#recipient-search-btn,
#addGroup,
#people-options > button,
#discussion_menu_link,
#show_all_details_button,
#apply_select_menus,
#assignment_publish_button,
#course_form > div > div:nth-child(22) > div > span > div > button,
#nav_form > p:nth-child(9) > button,
#edit_rubric_form > div.ic-Action-header.ic-Action-header--half-margin > div > button.Button.cancel_button,
#edit_rubric_form > div.ic-Action-header.ic-Action-header--half-margin > div > button.Button.Button--primary.save_button,
#wiki_page_show > div.header-bar-outer-container > div > div.header-bar.flex-container > div.header-bar-left.header-left-flex > a,
#wiki_page_show > div.header-bar-outer-container > div > div.header-bar.flex-container > div.header-bar-right.header-right-flex > span > button,
#wiki_page_show > div.header-bar-outer-container > div > div.header-bar.flex-container > div.header-bar-right.header-right-flex > a,
#wiki_page_show > div.header-bar-outer-container > div > div.header-bar.flex-container > div.header-bar-right.header-right-flex > div > a,
#assignment_show > div.content-box > a,
#assignment_show > div.assignment-title > div.assignment-buttons > a.btn.edit_assignment_link,
#assignment_show > div.assignment-title > div.assignment-buttons > a.al-trigger.btn,
#discussion-toolbar > div > div > div.discussion_subscribe.headerBar__subscribe > a.btn.topic-subscribe-button,
#course_info > div > div > a.ui-combobox-next.Button,
#course_info > div > div > a.ui-combobox-prev.Button,
body > span > span > div > div > aside > div > section.StudentContextTray__Section.StudentContextTray-QuickLinks > div a,
#group_categories_tabs > div.pull-right.group-categories-actions > a,
#content > div.header-bar > div.header-bar-right > a.new_assignment.btn.btn-primary.icon-plus,
#course_assignment_settings_link,
.module-sequence-footer-button--previous a,
.module-sequence-footer-button--next a,
.fNHEA_cjSw.fNHEA_ycrn .fNHEA_bOnW .fNHEA_blJt,
#content > div:nth-child(14) > div:nth-child(2) > a,
#whats_an_eportfolio > div > a,
#content > div.header-bar > div > div > div > a,
body > span:nth-child(109) > span > span > div.dNoYT_bGBk > button.fOyUs_bGBk.fOyUs_fKyb.fOyUs_cuDs.fOyUs_cBHs.fOyUs_eWbJ.fOyUs_fmDy.fOyUs_eeJl.fOyUs_cBtr.fOyUs_fuTR.fOyUs_cnfU.fQfxa_bGBk,
body > span:nth-child(109) > span > span > div.dNoYT_bGBk > button.fOyUs_bGBk.fOyUs_fKyb.fOyUs_cuDs.fOyUs_cBHs.fOyUs_eWbJ.fOyUs_fmDy.fOyUs_eeJl.fOyUs_cBtr.fOyUs_fuTR.fOyUs_cnfU.fQfxa_bGBk::before,
#submit_discussion_settings,
#module_sequence_footer > div.module-sequence-footer > div > span.module-sequence-footer-button--previous > a,
#module_sequence_footer > div.module-sequence-footer > div > span.module-sequence-footer-button--next > a,
body > div.ui-dialog.ui-widget.ui-widget-content.ui-corner-all.ui-draggable.ui-resizable.ui-dialog-buttons.compose-message-dialog > div.ui-dialog-buttonpane.ui-widget-content.ui-helper-clearfix > div.ui-dialog-buttonset.attachments > button.ui-button.ui-widget.ui-state-default.ui-corner-all.attach-media,
body > div.ui-dialog.ui-widget.ui-widget-content.ui-corner-all.ui-draggable.ui-resizable.ui-dialog-buttons.compose-message-dialog > div.ui-dialog-buttonpane.ui-widget-content.ui-helper-clearfix > div:nth-child(2) > button:nth-child(1),
#add_comment_form > div.button-container > button,
.al-options .ui-menu-item:first-of-type a,
.al-options.ui-state-open,
#edit_assignment_form > div.form-actions > div.assignment__action-buttons > button.btn.cancel_button,
#edit_assignment_form > div.form-actions > div.assignment__action-buttons > button.btn.btn-default.save_and_publish,
#edit_assignment_form > div.form-actions > div.assignment__action-buttons > button.btn.btn-primary,
#bordered-wrapper > div > div:nth-child(2) > div:nth-child(1) > div > div > div > div.input-append > button,
#bordered-wrapper > div > div:nth-child(2) > div:nth-child(2) > div > div > div.from > div > div > div.input-append > button,
#bordered-wrapper > div > div:nth-child(2) > div:nth-child(1) > div > div > div > div.input-append > button,
#assignment-gear-button-cr > a,
#nav-tray-portal > span > span > div > div > div > div > div > span > form > button > span,
#add-group-set,
#quiz-publish-link,
#preview_quiz_button,
#discussion-toolbar > div > div > div.discussion_subscribe.headerBar__subscribe > a.btn.topic-unsubscribe-button.btn-success,
#quiz_show > div.header-bar > div > div.header-group-right > a,
#quiz_show > div.header-bar > div > div.header-group-right > div > a,
#content > div > span > span:nth-child(2) > div > div.cvphu_fsGh > span > button,
#content > div > div > div.ic-Action-header > div.ic-Action-header__Secondary > div > a,
body > div.ui-dialog.ui-widget.ui-widget-content.ui-corner-all.ui-draggable.ui-resizable.ui-dialog-buttons.compose-message-dialog > div.ui-dialog-buttonpane.ui-widget-content.ui-helper-clearfix > div:nth-child(2) > button.btn-primary.send-message.ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-text-only
{
  background-color: var(--canvas-primary-button-color);
  color: var(--canvas-primary-text-color);
  border: 1px solid var(--canvas-primary-outline-color);
}

i[class*=icon-]:before, i[class^=icon-]:before, a[class*=icon-]:before, a[class^=icon-]:before,
i[class*=icon-plus]:before, i[class^=icon-plus]:before, a[class*=icon-plus]:before, a[class^=icon-plus]:before,
i[class*=icon-more]:before, i[class^=icon-more]:before, a[class*=icon-more]:before, a[class^=icon-more]:before,
i[class*=icon-unpublish]:before, i[class^=icon-unpublish]:before, a[class*=icon-unpublish]:before, a[class^=icon-unpublish]:before,
i[class*=icon-arrow-right]:before, i[class^=icon-arrow-right]:before, a[class*=icon-arrow-right]:before, a[class^=icon-arrow-right]:before,
i[class*=icon-arrow-down]:before, i[class^=icon-arrow-down]:before, a[class*=icon-arrow-down]:before, a[class^=icon-arrow-down]:before,
i[class*=icon-paperclip]:before, i[class^=icon-paperclip]:before, a[class*=icon-paperclip]:before, a[class^=icon-paperclip]:before,
i[class*=icon-calendar-day]:before, i[class^=icon-calendar-day]:before, a[class*=icon-calendar-day]:before, a[class^=icon-calendar-day]:before,
i[class*=icon-announcement]:before, i[class^=icon-announcement]:before, a[class*=icon-announcement]:before, a[class^=icon-announcement]:before,
[dir="ltr"] .dxCCp_eXrk:last-of-type 
{
  color: var(--canvas-primary-text-color);
}

[id^="ui-id-"]
{
  background-color: var(--canvas-primary-background-color) !important;
  color: var(--canvas-primary-text-color) !important;
  border: 1px solid var(--canvas-primary-outline-color) !important;
}

[id^="mceu_"] *
{
  color: var(--canvas-primary-text-color) !important;
}

[id^="entry-"] article > a > div
{
  color: var(--canvas-primary-text-color) !important;
  background-color: var(--canvas-primary-text-color) !important;
  border: 1px solid var(--canvas-primary-outline-color) !important;

}

[dir="ltr"] *
{
  color: var(--canvas-primary-text-color) !important;
}

[dir="ltr"] .eoNrR_blJt
{
  background-color: var(--canvas-secondary-background-color) !important;
}


/* MEDIA PLAYER */
#content > ul > li.active
{
  background-image: linear-gradient(to bottom, #303030, #505050);
  background-color: var(--canvas-primary-text-color) !important;

}

#edit_course_syllabus_form
{
  border: 1px solid var(--canvas-primary-outline-color) !important;
  background-color: var(--canvas-secondary-background-color) !important;
  color: var(--canvas-primary-text-color) !important;
}

.dXATK_cAug
{
  border-top: 1px solid var(--canvas-primary-outline-color) !important;
  border-left: 1px solid var(--canvas-primary-outline-color) !important;
  border-right: 1px solid var(--canvas-primary-outline-color) !important;
  border-bottom: none !important;
  background-color: var(--canvas-primary-button-color) !important;
  color: var(--canvas-primary-text-color) !important;
}

.dXATK_cAug[aria-selected]
{
  background-color: var(--canvas-secondary-background-color) !important;
  color: var(--canvas-primary-text-color) !important;
}

.cDwzl_cAug .cDwzl_caGd
{
  border: 1px solid var(--canvas-primary-outline-color) !important;
  background-color: var(--canvas-secondary-background-color) !important;
  color: var(--canvas-primary-text-color) !important;
}

body > div:nth-child(6) > div.ui-dialog-titlebar.ui-widget-header.ui-corner-all.ui-helper-clearfix span
{
  border: none !important;
  background-color: var(--canvas-primary-background-color) !important;
}

#add-message-attachment-button > span > i
{
  color: var(--canvas-primary-text-color) !important;
}

a
{
  color: var(--canvas-primary-text-color) !important;
}

header,
.ic-Dashboard-header__layout,
h2.todo-list-header
{
  text-align: center !important;
}

#right-side .shared-space h2
{
  margin-left: 64px !important;
}

svg path
{
  fill: var(--canvas-primary-text-color) !important;
}

.list-view a.active
{
  border-left: 2px solid var(--canvas-primary-outline-color) !important;
}



/* RUBRIC */
.rubric_container .rubric_title,
#flashalert_message_holder > div > div
{
  background-color: var(--canvas-primary-background-color) !important;
  color: var(--canvas-primary-text-color) !important;
}



/* PROFILE */
.profile_table .data_description,
#right-side p.email_channel,
.feature-title,
.feature-details p,
.event-details-timestring,
.discussion-fyi
{
  color: var(--canvas-primary-text-color) !important;
}



/* CALENDAR */
.fc-widget-content,
#calendar-app .fc-other-month, 
#calendar-drag-and-drop-container .fc-other-month,
.mini-cal-header,
#sidebar_content > div.mini_month > div.mini-cal-header > button.prev_month_link.Button.Button--icon-action,
#sidebar_content > div.mini_month > div.mini-cal-header > button.next_month_link.Button.Button--icon-action,
.event-details,
.agenda-event__item-container,
.agenda-day
{
  background-color: var(--canvas-secondary-background-color) !important;
  color: var(--canvas-primary-text-color) !important;
}

.agenda-wrapper .agenda-container,
#dashboard-planner > div > div
{
  background-color: var(--canvas-secondary-background-color) !important;
  border: 1px solid var(--canvas-primary-outline-color) !important;
}

#calendar-app .fc-event,
#calendar-app .fc-month-view .fc-today
{
  background-color: var(--canvas-secondary-button-color) !important;
  color: var(--canvas-primary-text-color) !important;
}

#context-list-holder,
#context-list .context_list_context:hover,
#minical .fc-toolbar,
#minical .fc-toolbar h2,
#minical .fc-toolbar .h2,
#minical .fc-toolbar .fc-button .fc-icon:after
{
  background-color: var(--canvas-primary-background-color) !important;
  color: var(--canvas-primary-text-color) !important;
}

#minical .fc-view-container,
#minical .fc-widget-content
{
  background-color: var(--canvas-secondary-background-color) !important;
  border: none !important;
}

.mini_calendar .day
{
  color: black !important;
}

span.day_number
{
  color: var(--canvas-primary-text-color) !important;
}

.mini_calendar_week
{
  background-color: var(--canvas-primary-background-color) !important;
}

.mini_calendar .day.has_event,
.mini_calendar .day.today
{
  background-color: var(--canvas-primary-button-color) !important;
}


/* LEFT NAVBAR */
.ic-app-header__main-navigation
{
  background-color: var(--canvas-secondary-background-color) !important;
}

.ic-app-header__menu-list-item--active a div svg path
{
  fill: var(--canvas-primary-text-color) !important;
}
#add-message-attachment-button,
.navigation-tray-container
{
  background-color: var(--canvas-primary-background-color) !important;
}

.cjUyb_bGBk.cjUyb_eQnG, input.cjUyb_bGBk[type].cjUyb_eQnG,
#GradeSummarySelectMenuGroup > span > span:nth-child(1) > label > span > span > span.bNerA_bGBk.bNerA_NmrE.bNerA_dBtH.bNerA_bBOa.bNerA_buDT.bNerA_DpxJ > span,
.message-detail.span8 .date, .message-detail.conversations__message-detail .date,
.recent_activity .image-block-image i:before
{
  color: var(--canvas-primary-text-color) !important;
}

.nav_list li.navitem
{
  color: var(--canvas-primary-text-color) !important;
}



/* CALENDAR "REDIGER HENDELSE" */
.ui-dialog .ui-dialog-titlebar.ui-widget-header, .ui-dialog .ui-datepicker .ui-widget-header.ui-datepicker-header, .ui-datepicker .ui-dialog .ui-widget-header.ui-datepicker-header,
.ui-dialog .ui-dialog-content,
.ui-tabs .ui-tabs-nav,
.ui-tabs .ui-tabs-panel
{
  background-color: var(--canvas-primary-background-color) !important;
  color: var(--canvas-primary-text-color) !important;
}

.datetime_suggest
{
  color: var(--canvas-primary-text-color) !important;
}




/* RIGHT NAVBAR */
.Button.button-sidebar-wide,
#ColorPicker__Apply,
#discussion_settings > span
{
  background-color: var(--canvas-primary-button-color) !important;
  color: var(--canvas-primary-text-color) !important;
  text-align: center !important;
  border: 2px solid var(--canvas-primary-outline-color) !important;
  transition: background-color .2s !important;
}

.Button.button-sidebar-wide:hover
#ColorPicker__Apply:hover
{
  background-color: var(--canvas-secondary-button-color) !important;
}

._1iyfu1y,
._xl47ao2,
.MlJlv_ycrn .MlJlv_ebWM,
.MlJlv_ebWM
{
  color: var(--canvas-primary-text-color) !important;
}



/* DASHBOARD */
.ic-DashboardCard,
.ic-DashboardCard__header_content
{
  background: var(--canvas-primary-button-color) !important;
}

.ic-app-header__menu-list-item.ic-app-header__menu-list-item--active .ic-app-header__menu-list-link
{
  background-color: var(--canvas-primary-background-color) !important;
}

.ic-DashboardCard__header-subtitle,
.ic-DashboardCard__header-term,
.event-details__title,
.event-details p,
body.primary-nav-expanded .ic-app-header__menu-list-item.ic-app-header__menu-list-item--active .menu-item__text
{
  color: var(--canvas-primary-text-color) !important;
}

.unpublished_courses_redesign .ic-DashboardCard__box__header,
.header-bar,
.event-details
{ 
  background-color:var(--canvas-primary-background-color) !important;
}

.ic-Action-header .ic-Action-header__Secondary>.Button
{
  background-color: var(--canvas-primary-button-color) !important;
  color: var(--canvas-primary-text-color) !important;
}

.eoNrR_blJt
#planner-today-btn,
#dashboard-planner-header > div > button,
#dashboard-planner-header > div > span > span > button
{
  background-color: var(--canvas-primary-button-color) !important;
  color: white !important;
  border: 1px solid var(--canvas-primary-outline-color) !important;
}

#dashboard-planner-header > div
{
  background-color: var(--canvas-primary-background-color) !important;
}


/* COURSES */
#breadcrumbs
{
  background-color: var(--canvas-primary-background-color) !important;
}

#syllabus,
#syllabus tr.date.date_passed td, #syllabus tr.date.date_passed th
{
  background-color: var(--canvas-secondary-background-color) !important;
}

#syllabus tr.date.selected td
{
  background-color: var(--canvas-primary-background-color) !important;
}

.omit-from-final-warning
{
  background-color: var(--canvas-secondary-background-color) !important;
  color: var(--canvas-primary-text-color) !important;
  border: 1px solid var(--canvas-primary-outline-color) !important;
}

.ic-unread-badge__total-count
{
  background-color: var(--canvas-primary-text-color) !important;
  color: black !important;
}

.ic-Action-header .ic-Action-header__Secondary>.Button,
.ic-Action-header .ic-Action-header__Secondary>.ui-button,
.ic-Action-header .ic-Action-header__Secondary>.btn,
.ic-Action-header .ic-Action-header__Secondary>.ui-button,
#right-side .button-sidebar-wide
{
  background-color: var(--canvas-primary-button-color) !important;
  color: var(--canvas-primary-text-color) !important;
}

i.nav-icon,
i.nav-icon:before
{
  color: var(--canvas-primary-button-color);
}

.course-list-table .course-list-table-row:hover
{
  background-color: var(--canvas-primary-background-color) !important;
}

#content > div > span > span > table tbody tr th,
#content > div > span > span > table tbody tr td,
#content > div > span > span:nth-child(3) > div > label > span > span.fhWLw_blJt.fhWLw_bYta,
.eJkkQ_bEpV
{
  background-color: var(--canvas-primary-background-color) !important;
  color: var(--canvas-primary-text-color) !important;
}

#content > div > span > span:nth-child(2) > div
{
  background-color: var(--canvas-secondary-background-color) !important;
  color: var(--canvas-primary-text-color) !important;
}

#content > div > span > span:nth-child(5) > table:nth-child(1) > tbody > tr:nth-child(7) > th > span.fOyUs_bGBk.fOyUs_UeJS > div > label > span > span.fhWLw_blJt.fhWLw_bYta
{
  color: var(--canvas-primary-text-color) !important;
}

#content > div > span > span:nth-child(5) > table:nth-child(1) > tbody > tr:nth-child(1) > td:nth-child(3) > span > span > button::before
{
  color: white !important
}

/* TASKS */
.submission-details-comments .comments
{
  background-color: var(--canvas-secondary-background-color) !important;
  color: var(--canvas-primary-text-color) !important;
}

textarea.ic-Input
{
  background-color: var(--canvas-primary-text-color) !important;
  color: black !important; 
}



/* COURSES MODULES */
#context_modules,
.item-group-container
{
  background-color: var(--canvas-primary-background-color) !important;
}

.context_module .ig-row
{
  background-color: var(--canvas-secondary-background-color) !important;
}

.item-group-condensed .ig-header,
.item-group-condensed .ig-row
{
  border: 1px solid var(--canvas-primary-outline-color) !important;
  background-color: var(--canvas-secondary-background-color) !important;

}

.ig-header .name,
.ig-list .icon-drag-handle,
.ig-list .icon-drag-handle::before,
.icon-hamburger,
.icon-hamburger::before,
.icon-document,
.icon-document::before,
.icon-quiz,
.icon-quiz::before,
.icon-assignment,
.icon-assignment::before,
.icon-link,
.icon-link::before,
.icon-discussion,
.icon-discussion::before,
.icon-clock,
.icon-clock::before,
.icon-calendar,
.icon-calendar::before,
.icon-x,
.icon-x::before,
.icon-check,
.icon-check::before,
.icon-calendar-month,
.icon-calendar-month::before,
.ig-details__item,
.context_module_item.context_module_sub_header .locked_title
{
  color: var(--canvas-primary-text-color) !important;
}



/* DISCUSSIONS */
.pinned-discussions-v2__wrapper,
.unpinned-discussions-v2__wrapper,
.closed-for-comments-discussions-v2__wrapper,
.showMore
{
  background-color: var(--canvas-primary-background-color) !important;
}

#add_discussion
{
  background-color: var(--canvas-primary-button-color) !important;
  border: 1px solid var(--canvas-primary-outline-color);
}

.ic-discussion-row,
.discussions-v2__container-image,
.sJGfW_bGBk
{
  background-color: var(--canvas-secondary-background-color) !important;
}

.ic-item-row__content-col
{
  color: var(--canvas-primary-text-color) !important;
}



/* COURSES PEOPLE */
.ui-tabs .ui-tabs-nav li a
{
  background-color: var(--canvas-primary-button-color) !important;
  border-top: 1px solid var(--canvas-primary-outline-color) !important;
  border-right: 1px solid var(--canvas-primary-outline-color) !important;
  border-left: 1px solid var(--canvas-primary-outline-color) !important;
  border-bottom: 1px solid var(--canvas-secondary-background-color) !important;
}

.ui-tabs .ui-tabs-nav li.ui-tabs-active a
{
  background-color: var(--canvas-secondary-background-color) !important;
  border-top: 1px solid var(--canvas-primary-outline-color) !important;
  border-right: 1px solid var(--canvas-primary-outline-color) !important;
  border-left: 1px solid var(--canvas-primary-outline-color) !important;
  border-bottom: 1px solid var(--canvas-secondary-background-color) !important;
}

#group_categories_tabs>.roster-tab
{
  background-color: var(--canvas-secondary-background-color) !important;
  border: 1px solid var(--canvas-primary-outline-color) !important;
}

.v-gutter
{
  background-color: var(--canvas-secondary-background-color) !important;
  border: 1px solid var(--canvas-primary-outline-color) !important;
  color: var(--canvas-primary-text-color) !important;
}

.ic-Table.ic-Table--striped tbody tr
{
  background-color: var(--canvas-secondary-background-color) !important;
}

#syllabus tr.date.related td
{
  background-color: var(--canvas-primary-button-color) !important;
}

/* STUDENT TRAY */
.StudentContextTray,
.StudentContextTray--withAvatar,
.fLzZc_caGd
{
  background-color: var(--canvas-primary-background-color) !important;
  color: var(--canvas-primary-text-color) !important;
}

.fNsZS_blJt,
.fNsZS_fqzO,
body > span > span > div > div > aside > div > header > div.StudentContextTray-Header__Layout > div.StudentContextTray-Header__Actions > button,
#student_group_filter_mount_point > label > span > span > span.bNerA_bGBk.bNerA_NmrE.bNerA_dBtH.bNerA_bBOa.bNerA_buDT.bNerA_DpxJ > span
{
  color: var(--canvas-primary-text-color) !important;
}



/* COURSES PEOPLE PROJECT GROUPS */
#group_categories_tabs>.tab-panel
{
  background-color: var(--canvas-secondary-background-color) !important;
  color: var(--canvas-primary-text-color) !important;
  border: 1px solid var(--canvas-primary-outline-color) !important;
}

.group-category-contents
{
  border-top: none !important;
  background-color: var(--canvas-secondary-background-color) !important;
  color: var(--canvas-primary-text-color) !important;
}

.group-user
{
  border: 1px solid var(--canvas-primary-outline-color) !important;
  color: var(--canvas-primary-text-color) !important;
  background-color: var(--canvas-primary-button-color) !important;
}

.group-user-name,
.assign-to-group i:before
{
  color: var(--canvas-primary-text-color) !important;
}

.group-heading.unassigned-users-heading
{
  color: var(--canvas-primary-text-color) !important;
}



/* COURSES CHAT */
.ctf-container
{
  background-color: var(--canvas-primary-background-color) !important;
}



/* QUIZ */
table.summary td, table.summary tbody th,
.quiz-submission, .question_editing,
.module-sequence-footer-content:not(.no-animation)
{
  background-color: var(--canvas-primary-background-color) !important;
  color: var(--canvas-primary-text-color) !important;
}

.alert
{
  background-color: var(--canvas-secondary-background-color) !important;
  color: var(--canvas-primary-text-color) !important;
  border: 1px solid var(--canvas-primary-outline-color) !important;
}

#quiz_show > div.header-bar
{
  border: none;
}



/* FORUM */
.toolbarView .headerBar,
.discussion-section,
.entry-header
{
  background-color: var(--canvas-secondary-background-color) !important;
}

.discussion_entry
{
  background-color: var(--canvas-secondary-background-color) !important;
}
.discussion-pubdate, .discussion-tododate
{
  color: var(--canvas-primary-text-color) !important;  
}

i.icon-more.standalone-icon::before
{
  color: var(--canvas-primary-text-color) !important;
}

label.ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-text-only
{
  background-color: var(--canvas-primary-button-color) !important;
  color: var(--canvas-primary-text-color) !important; 
}



/* FILER */
.ef-main .ef-folder-content .ef-folder-list
{
  border-left: 1px solid var(--canvas-primary-outline-color) !important;
  background-color: var(--canvas-secondary-background-color) !important;
}

.ef-main,
.ef-directory-header
{
  background-color: var(--canvas-secondary-background-color) !important;
}



/* INBOX */
#content > div > div > div.message-list-scroller > div > ul > li,
.message-header
{
  background-color: var(--canvas-primary-background-color) !important;
}

body.responsive_awareness .message-detail.span8, body.responsive_awareness .message-detail.conversations__message-detail,
.message-item-view,
.message-list .message-count,
#compose-new-message .conversation_body, #compose-new-message .reply_body, #submission-comment-reply .conversation_body, #submission-comment-reply .reply_body,
.message-header-row .ac-input-box,
.ac-result-container
{
  background-color: var(--canvas-secondary-background-color) !important;
}

.message-list .date,
.message-list .author,
.message-list .subject,
.message-list .summary,
.message-detail.conversations__message-detail .user-info .context
{
  color: var(--canvas-primary-text-color) !important;
}

.bootstrap-select.btn-group .dropdown-menu li>a,
.bootstrap-select .dropdown-submenu>.dropdown-menu,
input.dropdown-search,
.filters select,
.bootstrap-select.btn-group .div-contain,
.dropdown-menu .divider,
div#course-filter-bs.dropdown-menu.open,
.btn-group.open .dropdown-toggle,
.btn-group>.btn:first-child,
.compose-message-dialog .ui-dialog-buttonpane, .submission-comment-reply-dialog .ui-dialog-buttonpane
{
  background-color: var(--canvas-primary-background-color) !important;
  color: var(--canvas-primary-text-color) !important;
}

.ac-token
{
  background-color: var(--canvas-primary-button-color) !important;
  color: var(--canvas-primary-text-color) !important;
}



/* MISC */
.bdYPe_eLeB:hover, .bdYPe_eLeB[aria-disabled], .bdYPe_eLeB[aria-selected]
{
  background-color: #BFBFBF !important;
  border-bottom: none !important;
}

.DashboardCardMenu__ColorPicker,
.ColorPicker__Container
{
  background-color: #BFBFBF !important;
}

.slick-header-column.ui-state-default,
.container_0 .slick-cell
{
  background-color: var(--canvas-secondary-background-color) !important;
}

#discussion_settings
{
  background-color: var(--canvas-primary-button-color) !important;
}

#ColorPickerCustomInput-course_1612
{
  color: black !important;
}

.cDMBL_ssMr,
.dNoYT_bGBk,
.butxX_bGBk
{
  background-color: var(--canvas-primary-button-color) !important;
  color: var(--canvas-primary-text-color) !important;
}

.yyQPt_blJt
{
  color: var(--canvas-primary-text-color) !important;
}



/* CHANGE COLOR FUNCTION (IT'S BROKEN!) */
.fOyUs_bGBk.fOyUs_desw.fOyUs_cBHs.fOyUs_eWbJ.fOyUs_eeJl.fOyUs_cBtr.fOyUs_fuTR.XBLto_bXVH
{
  display: none;
}

.esvoZ_bGBk.esvoZ_drOs.esvoZ_eXrk.cGqzL_bGBk.DashboardCardMenu__MovementIcon,
#ColorPicker__Apply,
.fOyUs_bGBk.fOyUs_dnJm.fOyUs_tIxX.fOyUs_EMjX.fOyUs_kXoP.fOyUs_UeJS.fOyUs_bxuL.dqmEK_caGd,
.cAqHo_eAjd,
.fCrpb_bGBk .fCrpb_egrg,
#tab-uxeYgDafenmT
{
  background-color: #BFBFBF !important;
  color: black !important;
  filter: invert(100%) hue-rotate(180deg)!important;
  -webkit-filter: invert(100%) hue-rotate(180deg)!important;
}

.fNHEA_cjSw .fNHEA_cwos:checked + .fNHEA_bOnW .fNHEA_cSXm
{
  visibility: visible;
}

#content > div.header-bar > div.header-bar-right > div > fieldset > span > span > span > span > span > span > span:nth-child(1) > div > label > span.fNHEA_cSXm
{
  visibility: hidden;
}

.fNHEA_cjSw.fNHEA_cOXX .fNHEA_cSXm
{
  background-color: #127A1B !important;
}

#discussion_topic > div.discussion-entry-reply-area.reply-box-container.hide-if-collapsed.hide-if-replying > a
{
  color: gray !important;
}


#week
{
  background-color: var(--canvas-primary-button-color) !important;
  color: var(--canvas-primary-text-color) !important;
  border: 1px solid var(--canvas-primary-outline-color) !important;
}

pre,
[dir="ltr"] * pre
{
  background-color: var(--canvas-primary-pre-color) !important;
  color: var(--canvas-primary-pre-text-color) !important;
}

.ig-list .ig-row.ig-published:not(.student-view):before
{
  background-color: var(--canvas-primary-outline-color) !important;
  border: 1px solid var(--canvas-primary-pre-color) !important;
}